<div class="card col-sm-8" style="width: 18rem;">
 <div class="card-body">

  <div id="<%= dom_id training_run %>">

<h5 class="card-title "text-center"><%= training_run.name %></h5>
  
  <p>
    <h6 class="card-subtitle"><%= training_run.duration %> minutes </h6>
  </p>

  <p>
    <h6 class="card-subtitle"><%= training_run.date %> </h6>
  </p>

  <p>
    <h6 class="card-subtitle"><%= training_run.description %> </h6>
  </p>

</div>
</div>
</div>
