<p style="color: green"><%= notice %></p>

<h1>Training runs</h1>

<div id="training_runs">
  <% @training_runs.each do |training_run| %>
    <%= render training_run %>
    <p>
      <%= link_to "Show this training run", training_run %>
    </p>
  <% end %>
</div>


<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Duration</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @training_runs.each do |training_run| %>
    <tr>
      <th scope="row"><%= training_run.id %></th>
      <td><%= training_run.name %></td>
      <td><%= training_run.date %></td>
      <td><%= training_run.duration %></td>
      <td><%= training_run.description %></td>
      <td><%= link_to "Show this training run", training_run, class: "btn btn-primary" %> </td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "New training run", new_training_run_path %>
