<div class="card" style="width: 18rem;">
 <div class="card-body">

<div id="<%= dom_id ride %>">
 <img src="..." class="card-img-top" alt="...">
  <p>
   <h5 class="card-title "text-center">Ride Name</h5>
    <%= ride.ride_name %>
  </p>

  <p>
    <h6 class="card-subtitle">Ride Length </h6>
    <%= ride.ride_length %> kms
  </p>

  <p>
    <h6 class="card-subtitle">Ride Date </h6>
    <%= ride.ride_date %>
  </p>
<%= link_to "Show this ride", ride, class: "btn btn-primary" %>
</div>
</div>