<p style="color: green"><%= notice %></p>

<%= render @ride %>

<div>
  <%= link_to "Edit this ride", edit_ride_path(@ride), class: "btn btn-primary" %> |
  <%= link_to "Back to rides", rides_path, class: "btn btn-primary" %>

  <%= button_to "Destroy this ride", @ride, method: :delete, class: "btn btn-warning" %>
</div>
